<a href="https://colab.research.google.com/github/szymek404/data-sciene-bootcamp/blob/main/wprowadzenie/przyklad_gielda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# zadanie to dane giełdowe, często przejebane i trzeb szukać
import pandas as pd
import numpy as np

In [2]:
# funkcja które sciaga dane notowań spólki (domyslne amazon )
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()

<bound method DataFrame.info of                Open     High      Low    Close     Volume
Date
2022-12-02  94.4750  95.3600  93.7800  94.1300   72496388
2022-12-01  96.9900  97.2300  94.9200  95.5000   68487969
2022-11-30  92.4700  96.5400  91.5250  96.5400  102805806
2022-11-29  94.0400  94.4100  91.4400  92.4200   65567286
2022-11-28  93.9300  96.4000  93.4300  93.9500   75062316
...             ...      ...      ...      ...        ...
2017-12-12  58.3255  58.6800  58.0805  58.2540   44685080
2017-12-11  58.2300  58.4950  57.8500  58.4575   47224700
2017-12-08  58.5200  58.6395  57.8550  58.1000   59595440
2017-12-07  57.8295  58.1595  57.5500  57.9895   50176480
2017-12-06  56.8995  57.7945  56.8040  57.6470   55552840

[1257 rows x 5 columns]>

In [3]:
df.info() # mamy obiekt Dataframe , index w postaci daty i mamy dane od kiedy do kiedy
#mamy ceny, wolumen i typ danych

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-12-02 to 2017-12-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [6]:
df
 # duży obiket mamy w chuj kolumn i wiereszy wyswietla tylko pierwsze pięć
 # indeks to data, i 5 kolumn

               Open     High      Low    Close     Volume
Date
2022-12-02  94.4750  95.3600  93.7800  94.1300   72496388
2022-12-01  96.9900  97.2300  94.9200  95.5000   68487969
2022-11-30  92.4700  96.5400  91.5250  96.5400  102805806
2022-11-29  94.0400  94.4100  91.4400  92.4200   65567286
2022-11-28  93.9300  96.4000  93.4300  93.9500   75062316
...             ...      ...      ...      ...        ...
2017-12-12  58.3255  58.6800  58.0805  58.2540   44685080
2017-12-11  58.2300  58.4950  57.8500  58.4575   47224700
2017-12-08  58.5200  58.6395  57.8550  58.1000   59595440
2017-12-07  57.8295  58.1595  57.5500  57.9895   50176480
2017-12-06  56.8995  57.7945  56.8040  57.6470   55552840

[1257 rows x 5 columns]

In [8]:
# najważniejszze dla analityka jest cena zamknięcia
#metoda HEAD Daje nam pięc pierwszych wierszy ,jak damy paramter to bedzie wiecej
df.head
df.head(3)

              Open   High     Low  Close     Volume
Date
2022-12-02  94.475  95.36  93.780  94.13   72496388
2022-12-01  96.990  97.23  94.920  95.50   68487969
2022-11-30  92.470  96.54  91.525  96.54  102805806

In [9]:
#jak chcemy koniec to TAIL
df.tail(3)

               Open     High     Low    Close    Volume
Date
2017-12-08  58.5200  58.6395  57.855  58.1000  59595440
2017-12-07  57.8295  58.1595  57.550  57.9895  50176480
2017-12-06  56.8995  57.7945  56.804  57.6470  55552840

In [10]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [12]:
# to są nazwy kolumn i teraz zastanaiwmay się co chcemy, np duże na małe litery
df.columns =[col.lower() for col in df.columns] # ta konstrukcja bardzo łatwo zmienia nazwy kolumn
#tutaj zaminiamy nazwy kolumn na male litery pętla for iterująco po kolumnach
df.head()

              open   high     low  close     volume
Date
2022-12-02  94.475  95.36  93.780  94.13   72496388
2022-12-01  96.990  97.23  94.920  95.50   68487969
2022-11-30  92.470  96.54  91.525  96.54  102805806
2022-11-29  94.040  94.41  91.440  92.42   65567286
2022-11-28  93.930  96.40  93.430  93.95   75062316

In [14]:
#gdybyśmy mieli nazwy kolumn oddzielone spacją to też bysmy mogli to tak przekształcić
#METODA DESCRIBE STATY
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1257.0,1.195508e+02,3.616827e+01,5.689950e+01,8.879950e+01,1.081040e+02,1.583380e+02,1.872000e+02
high,1257.0,1.209814e+02,3.656786e+01,5.779450e+01,8.964300e+01,1.107810e+02,1.599380e+02,1.886540e+02
low,1257.0,1.179607e+02,3.571554e+01,5.680400e+01,8.785250e+01,1.063242e+02,1.562500e+02,1.848400e+02
close,1257.0,1.194779e+02,3.609874e+01,5.764700e+01,8.883300e+01,1.080000e+02,1.581000e+02,1.865700e+02
volume,1257.0,8.631243e+07,4.080706e+07,1.762674e+07,5.850470e+07,7.499516e+07,1.026244e+08,3.113457e+08

In [15]:
#WYBIERANIE KOLUMN
# nie chce pracowac na calej ramce wiec biore pierwsze 10
df= df.head(10)
df

              open   high     low  close     volume
Date
2022-12-02  94.475  95.36  93.780  94.13   72496388
2022-12-01  96.990  97.23  94.920  95.50   68487969
2022-11-30  92.470  96.54  91.525  96.54  102805806
2022-11-29  94.040  94.41  91.440  92.42   65567286
2022-11-28  93.930  96.40  93.430  93.95   75062316
2022-11-25  93.790  94.43  93.065  93.41   35088609
2022-11-23  93.240  94.58  92.830  94.13   59414684
2022-11-22  92.620  93.35  90.870  93.20   62191962
2022-11-21  93.970  95.02  90.590  92.46   84330270
2022-11-18  95.950  95.99  92.480  94.14   72428185

In [16]:
df['open'] # obiekt series
df.open

Date
2022-12-02    94.475
2022-12-01    96.990
2022-11-30    92.470
2022-11-29    94.040
2022-11-28    93.930
2022-11-25    93.790
2022-11-23    93.240
2022-11-22    92.620
2022-11-21    93.970
2022-11-18    95.950
Name: open, dtype: float64

In [17]:
df[['open']]# dataframe wyciete

              open
Date
2022-12-02  94.475
2022-12-01  96.990
2022-11-30  92.470
2022-11-29  94.040
2022-11-28  93.930
2022-11-25  93.790
2022-11-23  93.240
2022-11-22  92.620
2022-11-21  93.970
2022-11-18  95.950

In [21]:
df[['open', 'close']]

              open  close
Date
2022-12-02  94.475  94.13
2022-12-01  96.990  95.50
2022-11-30  92.470  96.54
2022-11-29  94.040  92.42
2022-11-28  93.930  93.95
2022-11-25  93.790  93.41
2022-11-23  93.240  94.13
2022-11-22  92.620  93.20
2022-11-21  93.970  92.46
2022-11-18  95.950  94.14

In [23]:
df.iloc[:,0]

Date
2022-12-02    94.475
2022-12-01    96.990
2022-11-30    92.470
2022-11-29    94.040
2022-11-28    93.930
2022-11-25    93.790
2022-11-23    93.240
2022-11-22    92.620
2022-11-21    93.970
2022-11-18    95.950
Name: open, dtype: float64

In [24]:
df.iloc[:, [0,3]] # tutaj wycinami dwie kolumny dlatego musze podac liste z ideksami

              open  close
Date
2022-12-02  94.475  94.13
2022-12-01  96.990  95.50
2022-11-30  92.470  96.54
2022-11-29  94.040  92.42
2022-11-28  93.930  93.95
2022-11-25  93.790  93.41
2022-11-23  93.240  94.13
2022-11-22  92.620  93.20
2022-11-21  93.970  92.46
2022-11-18  95.950  94.14

In [26]:
#chcemy wyciąc zakre komuyrek od 3 do 4
df.iloc[:, 3:5]

            close     volume
Date
2022-12-02  94.13   72496388
2022-12-01  95.50   68487969
2022-11-30  96.54  102805806
2022-11-29  92.42   65567286
2022-11-28  93.95   75062316
2022-11-25  93.41   35088609
2022-11-23  94.13   59414684
2022-11-22  93.20   62191962
2022-11-21  92.46   84330270
2022-11-18  94.14   72428185

In [27]:
#czasem gdy potrzebujemy ostatnią kolumne a mamy w chuj to nie chcemy konkrentego indeksu tylko kolumne
#indyksowanie ujemne
df.iloc[:, [-1]]

               volume
Date
2022-12-02   72496388
2022-12-01   68487969
2022-11-30  102805806
2022-11-29   65567286
2022-11-28   75062316
2022-11-25   35088609
2022-11-23   59414684
2022-11-22   62191962
2022-11-21   84330270
2022-11-18   72428185

In [28]:
# SELEKCJA WIERWSZY
df

              open   high     low  close     volume
Date
2022-12-02  94.475  95.36  93.780  94.13   72496388
2022-12-01  96.990  97.23  94.920  95.50   68487969
2022-11-30  92.470  96.54  91.525  96.54  102805806
2022-11-29  94.040  94.41  91.440  92.42   65567286
2022-11-28  93.930  96.40  93.430  93.95   75062316
2022-11-25  93.790  94.43  93.065  93.41   35088609
2022-11-23  93.240  94.58  92.830  94.13   59414684
2022-11-22  92.620  93.35  90.870  93.20   62191962
2022-11-21  93.970  95.02  90.590  92.46   84330270
2022-11-18  95.950  95.99  92.480  94.14   72428185

In [29]:
#wycinami iloc pierweszy wiersz
df.iloc[0]

open      9.447500e+01
high      9.536000e+01
low       9.378000e+01
close     9.413000e+01
volume    7.249639e+07
Name: 2022-12-02 00:00:00, dtype: float64

In [32]:
df.iloc[0:3] # to już dataframe bo mamy kilka iwerszy i kilka kolumn

              open   high     low  close     volume
Date
2022-12-02  94.475  95.36  93.780  94.13   72496388
2022-12-01  96.990  97.23  94.920  95.50   68487969
2022-11-30  92.470  96.54  91.525  96.54  102805806

In [33]:
df.loc['2022-11-30']

             open   high     low  close     volume
Date
2022-11-30  92.47  96.54  91.525  96.54  102805806

In [37]:
#gdy chcemy przedział dat to trzeba podać w kolejności 
df.loc['2022-10-15': '2022-10-30']

<ipython-input-37-5f60c7054e35>:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df.loc['2022-10-15': '2022-10-30']

Empty DataFrame
Columns: [open, high, low, close, volume]
Index: []